<div class="panel callout radius">
    <h6>
        {{ msg }}
    </h6>
</div>

<a href="#" class="medium button" onclick="$('#modal').foundation('reveal', 'close'); return false;">Zamknij</a>
<script>
    $(window).trigger('hashchange');
</script>